<!DOCTYPE html>
<html>
  <head>
    <title>Timestamp Micro Service</title>
    <meta name="description" content="A timestamp microservice built with node and express ">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
   <main>
     <header>
       <h1 class="bold">Timestamp Microservice </h1>
     </header>
    <section class="content">
      <h3>How it works</h3>
      <p>Checks the first URL parameter to see if contains a valid date (either a unix timestamp or natural language date). If it does, the server returns both the unix timestamp and formatted date string for the specified date. If not, returns null for both properties.</p>
      <p>The response will be JSON</p>
      <h5>Example Usage</h5>
      <pre><code>https://lukepv-timestamp.glitch.me/December%2015,%202015
https://lukepv-timestamp.glitch.me/1450155600</code></pre>
      <h5>Example output:</h5>
      <pre><code>{ "unix": 1450155600, "natural": "Tuesday, Dec 15, 2015" }</code></pre>
    </section>
    <section class="form">
      <h3></h3>
      <form>
        <input type="text" name="date" id="input" placeholder="You can enter a date here to test it out" />
        <input type="submit" name="submit" id="submit" value="Go!" />
      </form>
    </section>
    <footer>
      <nav class="icons">
        <a href="https://github.com/lukepeavey/timestamp-microservice"  title="Github Repositorty" class="github">
          <img src="https://cdn.glitch.com/d1e587ef-73c8-4205-9ae1-c7267453700f%2FGitHub-Mark-120px-plus.png?1503696478345" />
        </a>
        <a href="https://glitch.com/edit/#!/peavey-timestamp-ms" title="Glitch Project" class="glitch">
          <img src="https://cdn.glitch.com/d1e587ef-73c8-4205-9ae1-c7267453700f%2Fglitch-icon.svg?1503696526399" />
        </a>
      </nav>
      
    </footer>
  </main>
     
  <script src="https://code.jquery.com/jquery-2.2.1.min.js"
        integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
        crossorigin="anonymous"></script>
  <script src="client.js"></script>     
</body>
</html>