/* styles */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding-bottom: 60px;
  font-family: helvetica, arial, sans-serif;
  line-height: 1.6;
  background: #f8f8f9;
  color: rgba(0,0,0,.87);
}
h1, h2, h3, h4, h5, p, article, pre {
  margin-top: 0;
  margin-bottom: 0.5em
}
h1 {
  font-size: 28px;
}
main {
  width: 100%;
  max-width: 700px;
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding-top: 100px;
  padding: 10px;
}
code {
  padding: 2px;
}
pre {
  position: relative;
  max-width: 800px;
  padding: 15px;
  background: #534d4d;
  overflow: auto;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  font-size: 14px;
  color:  #fff;
  border-left: 3px solid #c3c3c3;
}

pre code {
  padding: 0;
}

form {
  display: flex;
  width: 100%;
}
input {
  padding: 1em 2em;
  flex: 1 0 auto;
  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
  display: inline-block;
  border: none;
  box-shadow: 0 0 0 0 transparent inset;
  border: 1px solid rgba(34, 36, 38, 0.19);
  border-right-width: 0;
  border-radius: .38571429rem 0 0 .38571429rem;
  font-size: 16px;
}
input[type="submit"] {
  flex: 0 0 90px;
  border-right-width: 1px;
  border-radius: 0 .38571429rem  .38571429rem 0;
  background: #f1f1f1;
}
input::placeholder {
  color: #bbb;
  font-style: italic;
}

section {
  margin-bottom: 50px;
}
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  margin-top: 50px;
  padding: 20px;
  background: #eee;
  color: #bbb;
  border-top: 1px solid lightgrey;
}

footer a {
  color: inherit;
  text-decoration: none;
}
footer a:hover {
  color: #333;
  text-decoration: none;
}
footer .credits {
  margin: 0 40px;
}
footer .icons {
  display: flex;
  align-items: center;
  margin: 0 40px;
}
footer .icons a {
  display: flex;
  align-items: center;
  width: 26px;
  height: 26px;
  margin: 0;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: content-box;
}
footer .icons a:not(:first-of-type) {
  border-left: solid 1px rgba(34, 36, 38, 0.09);
}
footer .icons a.glitch {
  width: 28px;
  height: 28px;
}
footer a img {
  max-width: 100%;
}

footer > a {
  color: #BBBBBB;
}